Package: siakhooi-ele
Version: 0.1.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash
Architecture: amd64
Homepage: <https://github.com/siakhooi/ele>
Description: docker compose cluster for local developments
